body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 100vw;
  padding: 12px;
  top: 0;
  background: #868686;
}

.navbar h1 {
  margin: 0 0 10px;
}

.cart {
  display: flex;
  gap: 10px;
}

.cart_content {
  background: white;
  padding: 10px;
  border: 3px dashed black;
  position: absolute;
  top: 150px;
  left: 10px;
}

p {
  margin: 3px;
}

.container {
  margin-top: 140px;
  width: 100vw;
}

.good {
  margin: 0 auto;
  width: 400px;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}